@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  background-color: #f6e7ea;
  height: 10vh;
  min-height: 75px;
  position: fixed;
  top: 0;
  width: 100%;
}

.center-all {
  margin: auto;
  max-width: 1280px;
  min-width: 250px;
  padding: 15px;
  width: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.hamburguer-checkbox {
  cursor: pointer;
  display: block;
  height: 35px;
  left: -5px;
  position: absolute;
  opacity: 0;
  width: 40px;
  z-index: 2;
  -webkit-touch-callout: none;
}

.hamburguer-checkbox:checked ~ .menu-items {
  background: #fff;
  height: 90vh;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.hamburguer-icon {
  fill: #d9a1ad;
  width: 30px;
}

.menu-items {
  position: absolute;
  top: 70px;
  opacity: 0;
}

.menu-items li {
  list-style: none;
  margin: 10px 0;
}

.menu-items li a {
  color: #1d1d24;
  padding: 5px 0;
  position: relative;
}

.button {
  background: #d9a1ad;
  border: 2px solid #dfb7be;
  border-radius: 100px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 12px 30px;
  text-transform: uppercase;
}

.content {
  height: 90vh;
  margin-top: 10vh;
  overflow: auto;
  scroll-behavior: smooth;
  width: 100%;
}

.section {
  min-height: 600px;
  padding: 50px 0;
}

.footer {
  background-color: #f6e7ea;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.icon {
  background-image: url(../images/media_sprites.png);
  background-repeat: no-repeat;
  background-size: 70px;
  display: inline-block;
  height: 35px;
  margin: 0 5px;
  width: 35px;
}

.twitter {
  background-position-x: left;
  background-position-y: bottom;
}

.instagram {
  background-position-x: left;
  background-position-y: top;
}

.facebook {
  background-position-x: right;
  background-position-y: top;
}

.linkedin {
  background-position-x: right;
  background-position-y: bottom;
}

.sr-only {
  opacity: 0;
}

@media (min-width: 768px) {
  .hamburguer-checkbox,
  .hamburguer-icon {
    display: none;
  }

  .menu-items {
    opacity: 1;
    position: relative;
    top: auto;
  }

  .menu-items li {
    display: inline-block;
    padding: 10px 20px;
  }

  .menu-items li a:hover {
    color: #fd4766;
  }

  .menu-items li a:after {
    background: #ceacb2;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    transition: 0.3s;
    width: 0;
  }

  .menu-items li a:hover:after {
    width: 100%;
  }

  .button:hover {
    background: transparent;
    border-color: #f1abb7;
    color: #dd8896;
    transition: all 0.4s ease-in-out;
  }
}
